<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
    <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <!-- Collection part of navbar, from which user can view the full colelction or search the full collection by a certain criteria -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Collection
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="collection-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">Full Collection</a>
            </div>
        </li>
        <!-- Clothing part of navbar, from which user can select different articles of clothing to view -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=shirts" class="dropdown-item">Shirts</a>
                <a href="{% url 'products' %}?category=trousers" class="dropdown-item">Trousers</a>
                <a href="{% url 'products' %}?category=jacketsandcoats" class="dropdown-item">Jackets & Coats</a>
                <a href="{% url 'products' %}?category=hatsandcaps" class="dropdown-item">Hats & Caps</a>
                <a href="{% url 'products' %}?category=facemasks" class="dropdown-item">Face Masks</a>
            </div>
        </li>
        <!-- Footwear part of navbar, from which user can select to view either shoes or trainers-->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="new_in-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Footwear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shoes-link">
            <a href="{% url 'products' %}?category=shoes" class="dropdown-item">Shoes</a>
            <a href="{% url 'products' %}?category=trainers" class="dropdown-item">Trainers</a>
            </div>
        </li>
    </ul>
</div>